<!doctype html>
<html lang="en" class="no-focus" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>error</title>
    <base th:href="@{/}">
    <link rel="stylesheet" id="css-main" href="assets/css/codebase.min.css">
</head>
<body>

<div id="page-container" class="main-content-boxed">

    <main id="main-container">
        <div class="hero bg-white">
            <div class="hero-inner">
                <div class="content content-full">
                    <div class="py-30 text-center">
                        <div class="display-3 text-warning">ERROR</div>
                        <h1 class="h2 font-w700 mt-30 mb-10">哦豁.. 发生了一些错误，请联系管理员..</h1>
                        <a class="btn btn-hero btn-rounded btn-alt-secondary" href="#">
                            <i class="fa fa-arrow-left mr-10"></i> 返回首页
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>

</body>
</html>